.header{
    background-color: lightblue;
    width: 1350px;
    height: 75px;
    text-align: center;
    font-size: 48px;
}

.pieces{
    background-color: coral;
    font-size: 35px;
    height: 75px;
    width: 100%;
    color: blue;
    text-decoration: underline;
    text-align: center;
    padding: 8pt;
}

.img{
    
}